<div class="card col-sm-4">
  <%= image_tag media_url(post.featured_media), class: 'card-img-top img-thumbnail' %>
  <div class="card-body">
    <h4 class="card-title"><%= link_to post.title.html_safe, post.link %></h4>
    <p class="card-text"><%= sanitize_excerpt(post.excerpt.html_safe) %></p>
    <p class='text-muted'><%= category_description(post.categories.first) %></p>
  </div>
</div>
